<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div>
        ${characters.map(character =>`
            <h1>${character.name}</h1> `).join('')}
    </div>
    <div> 
        ${characters.map(character =>`
            <h3>${character.address}</h3> `).join('')}
    <div>
        ${characters.map(character =>`
            <p>${character.state}</p> `).join('')}
    </div>
    </div>
</body>
</html>