.mainContainer {
grid-area: home;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
justify-content: center;
align-items: center;
margin-left: 50px;
padding: 20px;
height: auto;}

@media screen and (max-width: 800px) {
    .mainContainer {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin: 60px;
        padding: 5;
        
        grid-gap: 20px;
    }
}
    