html {
    background-image: url(https://wallpaperaccess.com/full/503637.png);
    min-height: 100%;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center center;
    }

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 300;
    width: 300; */
    color: darkblue;
}
h3 {
    color: darkred;
    background-color: black;
    font-size: 24px;
    box-shadow: 10px 10px 10px 10px 0 white;
    opacity: 80%;
    text-align: center;
    padding: 2px 16px;
  
}

ul {
    list-style: square inside url("sqpurple.gif");
    color: darkcyan;
    font-size: 14px;
}

.h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 45px;

}
.button {
    font-size: 35px;
}